body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 25px;
  font-size: $default-font-size;
}
.about{
  .header-primary{
    h1{
      font-size: 3rem;
      letter-spacing: 5px;
    }
  }
}