.btn-secondry{
  &:link,
  &:visited {
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    border-bottom: 2px solid $dark-green;
    transition: all 0.2s;
    color: $dark-green;
    transition: all 0.4s;
    display: inline-block;
    transition: all 0.2s;
  }
  &:hover {
    transform: translateY(-0.5rem);
    background: $dark-green;
    color: #fff;
    box-shadow: 0 5px 2rem rgba($color: #000000, $alpha: 0.15);
  }
}

// $light-green: #7ed56f;
// $medium-green: #55c57a;
// $dark-green: #28b485;

// $color-secondary-light: #ffb900;
// $color-secondary-dark: #ff7730;

// $color-tertiary-light: #2998ff;
// $color-tertiary-dark: #5643fa;

// $color-grey-light-1: #f7f7f7;
// $color-grey-light-2: #eee;

// $color-grey-dark: #777;
// $color-grey-dark-2: #999;
// $color-grey-dark-3: #333;

// $color-white: #fff;
// $color-black: #000;
