*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    box-sizing: border-box;
}
label{
    display: block;
}
input{
width: 100%;
min-height: 2rem;
}
textarea{
    width: 100%;
    height: 4rem;;
}


/* utility */
.text-primary{
    color: #93cb52;
}

.bg-primary{
    background: #93cb52;
    color: #fff;
}

.box{
    min-height: 10rem;
    flex:  1 0 auto;
    text-align: center;
}

.bg-light{
    background: #f4f4f4;
}
.lg-heading{
    font-size: 2rem;
}
.bg-dark{
    background: #444;
    color: #fff;
}
.bg-dark-plus{
    background: #333;
    color: #fff;
}
.img-wrapper{
    background: #93cb52;
    height: 80px;
    width: 80px;
    text-align: center;
    margin: auto;
    border-radius: 50%;
    
}

.img-wrapper i{
    line-height: 80px;
}
.work-details{
    padding-left: 10px;
    text-align: left;
}





/* navbar */
ul{
    display: flex;
    justify-content: flex-end;
    padding: 0 15px;

}
ul:first-child{
    justify-self: flex-start;
 
}
li{
    list-style: none;
    padding: .6rem;
    margin: auto 0;
    border-radius: 5px;
}
nav h1{
    margin: 0;
}
nav{
    background: #333;
    color: #fff;
    opacity: 0.9;
    /* position: fixed; */
    position: sticky; /* Safari & IE */
position: sticky;
top: 0;
    width: 100%;
}

li:hover{
    cursor: pointer;
    background: #93cb52;
}
nav{
    display: flex;
    justify-content: space-between;
    min-height: 4rem;
}
#navbar div{
    margin: auto 0;
}

#navbar>div>h1{
    padding: 0 15px;
}
#navbar>div>h1>span>i{
    padding: 0 5px ;
}

/* header */

header{
    background: url("../images/showcase.jpg") center center/cover;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
}
header a{
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    font-size: 1.2rem;
}
header p{
    padding: 1.5rem 0;
}
header a:hover{
    cursor: pointer;
}
header h1{
font-size: 4rem;
}

/* section 1 */
.container{
    display: flex;
    padding: 0 10rem;
    flex-wrap: wrap; 
}
.container:first-child{
    flex: 1 1 auto;
}

.box h3{
padding: 1rem 0;
}

#portfolio-heading{
    flex-basis: 100%;
    padding: 1.5rem 0;
    text-align: center;
    /* padding-bottom: 1rem; */
}
.box div{
    display: inline-block;
    vertical-align: middle;
}

/* about description */
#about{
    display: flex;
    /* flex-wrap: wrap; */

}


#img-section{
    /* background: url("../images/people.jpg") center center/cover; */
    flex: 1 1 50%;
}
#img-section img{
    width: 100%;
    height: 100%;
}
#description{
    padding: 20px;
    flex: 1 1 50%;
}
#team-description h3{
    padding: 10px 0;
}

#team-description p{
    padding: .5rem 0;
    border-bottom: #444 dotted 1px;
}


/* contact-details */
#contact-details{
display: flex;
flex-wrap: wrap;

}
.form{
    padding: 2rem;

}
.map{
    flex: 1 2 65%;
}
#form-area{
    flex: 1 0.5 35%;
}
.form button{
    border: none;
    border-radius: 5px;
}
#btn{
    border: none;
    border-radius: 5px;
}
/* not working why?? */
/* #contact-details:first-child{
    padding: 5rem;
} */

/* #contact-details:first-child{
padding: 2rem;
} */

/* client */
#clients-section h1{
    padding-top: 2rem;
}
#clients-section ul{
    justify-content: center;
}
#clients-section li{
    padding: 3rem;
}
#clients-section img{
max-width: 120px;
}

#clients-section li:hover{
    cursor: pointer;
    background: none;
}
#clients-section{
    text-align: center;
}





/* footer */

footer{
    text-align: center;
    min-height: 2rem;
    padding:20px;
}


/* .red{
    width: 100px;
    height: 100px;
    background: red;
    overflow: ;
}

.blue{
    background: blue;
    width: 200px;
    height: 300px;;
} */

/* 
in position: absolute using top=50%, left = 50% to center the element.... but its not centrering in the midlle
if using : 
  transform: translate(-50%,-50%);

  then its coming in middle. why? what is the transform doing????
*/


/* 
why position fixed and absolute reduces width
*/