* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.2;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primary-color: rgba(13, 110, 139, 0.75);
  --secondary-color: rgba(229, 148, 0, 0.9);
  --overlay-color: rgba(24, 39, 51, 0.85);
  --menu-speed: 0.75s;
}

/* hamburger starting */

#hamburger-area {
  width: 50px;
  height: 50px;
  background: var(--primary-color);
  padding: 2px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999999;
}

input[type="checkbox"] {
  height: 45px;
  position: absolute;
  z-index: 99999;
  width: 45px;
  opacity: 0;
}
input[type="checkbox"]:hover{
    cursor: pointer;
}
#hm-container {
  width: 50px;
  height: 50px;
  background:var(--primary-color);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  padding: 10px;
}

input[type="checkbox"] + #hm-container > .ham {
  width: 100%;
  height: 2px;
  background: #fff;
  position: relative;
  transition: all 0.4s ease;
}

input[type="checkbox"] + #hm-container > .ham::before {
    content: "";
    width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: 10px;
  transition: all;
  transition-duration: 0.1s;
  transition-timing-function: ease;
}
input[type="checkbox"] + #hm-container > .ham::after {
    content: "";
    width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 10px;
  transition: all;
  transition-duration: 0.1s;
  transition-timing-function: ease;
}

input[type="checkbox"]:checked + #hm-container > .ham {
    width: 100%;
    height: 2px;
    background: #fff;
    position: relative;
    background: transparent;
    transform: rotate(135deg);
    
  }

  input[type="checkbox"]:checked:hover + #hm-container>.ham {
   transform: rotate(90deg);
   transition: all;
   transition-duration: 0.2s;
   
  }

input[type="checkbox"]:checked + #hm-container > .ham::before {
  content: "";
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: 0;
  transform: rotate(-135deg);

}
input[type="checkbox"]:checked + #hm-container > .ham::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  transform: rotate(135deg);
  top:0;
}

#hm-container:hover{
  z-index: 9999;
}
#area{
  z-index: -9;
  background: var(--overlay-color);
  width: 200vw;
  height: 200vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#fff; 
  text-align: center;
  border-radius: 50%;
  visibility: hidden;

}
input[type="checkbox"]:checked~.menu>#area{
  transform: scale(0,0);
  z-index: 999;
  visibility: visible;
  animation: areaAnimation;
  animation-duration: 0.4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;;
  /* transition: all;
  transition-duration: 1s;
  transition-timing-function: ease; */

}

@keyframes areaAnimation{

  to{
    transform: scale(1,1);

  }
}

.menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
#area ul li{
  list-style: none;
  padding: 1rem;
  font-size: 1.5rem;
  
}


#area ul li a{
text-decoration: none;
color: inherit;
} 

/* input[type="checkbox"]:checked~#area{
  opacity: 1;
  z-index: 999;
} */





/* input[type="checkbox"]:checked~#area{
  opacity: 1;
  z-index: 999;
} */


















/* showcase */
#showcase {
  background: var(--primary-color);
  height: 100vh;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
#showcase::before {
  content: "";
  background: url("../img/showcase.jpg") center center/cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
h1 {
  font-size: 3rem;
}
p {
  padding: 1rem 2rem;
  font-size: 1.2rem;
}
.container {
  max-width: 1000px;
}
button {
  border: 0;
  background: var(--primary-color);
  color: #fff;
  padding: 0.8rem 2rem;
}

button:hover{
  cursor: pointer;
  opacity: 0.8;
}