$primary-color: steelblue;
$secondry-color: skyblue;
$light-color:#f4f4f4;
$dark-color: #333;
$font-stack: Arial, Helvetica, sans-serif;;


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: $font-stack;
  }