body {
  background: lightskyblue;
}

.container {
  max-width: 300px;
  background: white;
  padding: 15px;
  margin: 60px auto;
}

.heading {
  text-align: center;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.row {
  margin: 5px;
}
input {
  width: 100%;
  border-radius: 5px;
  border: solid 1px lightgrey;
  height: 2rem;
  outline: none;
}
input:focus {
  border: 1px solid blue;
}
.button {
  margin-top: 5px;
  background: lightseagreen;
  height: 2.5rem;
  color: white;
  font-weight: bold;
}
.row p {
  font-size: 13px;
  text-align: center;
}
a {
  text-decoration: none;
}
a:hover {
  color: tomato;
}

.heading p:first-child {
  font-size: 1.5rem;
  margin: 0px;
}

.heading p:nth-child(2) {
  font-size: 1rem;
}
