.row{
    margin: 0 auto;
    margin-bottom: 10px;
    max-width: $grid-max-width;
    &::after{
        @include clearfix;
    }
   
    [class^="col-"]{
        float: left;
        background: coral;
        &:not(:last-child){
            margin-right: $horizontal-gutter;
        }
    }
    
    .col-1-of-2{
        width: calc((100% - #{$horizontal-gutter})/2);
    }
    .col-1-of-3{
        width: calc((100% - #{2*$horizontal-gutter})/3);
    }

    .col-2-of-3{
        width: calc(((100% - #{2*$horizontal-gutter})/3) *2 + #{$horizontal-gutter});
    }
    .col-1-of-4{
        width: calc((100% - #{3*$horizontal-gutter})/4);
    }
    .col-2-of-4{
        width: calc( ( ((100% - #{3*$horizontal-gutter})/4)*2 ) + #{$horizontal-gutter} ) ;
    }
    .col-3-of-4{
        width: calc( ( ((100% - #{3*$horizontal-gutter})/4)*3 ) + 2*#{$horizontal-gutter} );
    
    }
}

