@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #c72727;
  --secondry-color: #f99500;
  --light-color: #f3f3f3;
  --dark-color: #333;
  --max-width: 1100px;
  --primary-grey: #777;
  --sports-color: #f99500;
  --ent-color: #a66bbe;
  --tech-color: #009cff;
}

/*  */
body {
  background: var(--light-color);
  font-family: "Lato", sans-serif;
  line-height: 1.6rem;
}






/* utility */

.text-primary {
  color: #c72727;
}

h1, h2, h3, h4, h5{
  font-family: 'Staatliches', cursive;
  padding: 0.6rem 0;
}

.bg-primary {
  background: #c72727;
  color: #fff;
}

.current {
  background: var(--primary-color);
  color: var(--light-color);
}

.overlay {
  position: absolute;
  background: black;
  width: 100%;
  opacity: 0.5;
  height: 100%;
}

.primary-heading {
  color: white;
  padding: 0.5rem 0.8rem;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 0.6rem;
  /* border-end-end-radius: 20%;; */
}
.title {
  display: inline-block;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 0rem 0.5rem;
  text-transform: uppercase;
  font-size: 0.6rem;
}


/* .content{
    display: inline-block;
} */








/* navbar */
.container {
  max-width: var(--max-width);
  display: grid;
  grid-template-columns: 6fr 3fr 2fr;
  padding: 0.7rem;
  margin: auto;
  align-items: center;
}

nav {
  background: #fff;
  position: sticky;
}

.container #logo img {
  width: 180px;
}

.container ul {
  list-style: none;
  display: flex;
  justify-content: end;
}

.container ul li a {
  text-decoration: none;
  padding: 0.8rem;
  font-size: 1rem;
}
.container ul li a:hover {
  background: var(--dark-color);
  color: var(--light-color);
}
.social i {
  padding: 0 0.3rem;
  color: var(--primary-grey);
  margin-left: 0.2rem;
}







/* header */
header {
  background: url("../image_resources/featured.jpg") center center/cover;
  position: relative;
}

header::before {
  content: "";
  background: black;
  opacity: 0.6;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
}

.header-container {
  max-width: var(--max-width);
  padding: 0.7rem;
  margin: auto;
  height: 50vh;
  z-index: 11;
  color: #fff;

  /* ------------->  make overlay as made in edge ledger <---------------------------- */
  /* position: absolute; */
  /* background: rgba(0, 0, 0, 0.6); */

  display: grid;
  align-content: center;
}

.header-content {
  color: #fff;
  position: relative;
  /* without position :  relative the overlay is not working. why?? */
}
.header-content a {
  position: relative;
  text-decoration: none;
  color: #fff;
  background: var(--primary-color);
  padding: 0.8rem 1rem;
}

.header-content h {
  position: relative;
  text-decoration: none;
  color: #fff;
}

.sports {
  background: var(--sports-color);
}










/* editors picks */
.editor-container {
  margin: auto;
  max-width: var(--max-width);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 5rem 15rem 30rem 15rem; */
}
.box {
  background: #fff;
  margin: 10px;
  padding: 1rem;
  display: grid;
 
}
/* .box:first-child{
    grid-column-start: 1;
    grid-column-end: 4;
} */

.editor-container #heading {
  background: cyan;
  grid-column-start: 1;
  grid-column-end: 4;
  margin: 10px;
}

.box:nth-child(2) {
  grid-column: 1 / span 2;
}
.box:nth-child(3) {
  background: var(--dark-color);
  color: #fff;
  }
  
.box img {
  height: 12rem;
}

.tech{
    background: var(--tech-color);
}

.ent{
    background: var(--ent-color);
}

.box:nth-child(7) {
background: var(--primary-color);
color: #fff;
  }





/* footer  */
footer {
  background: var(--dark-color);
}
.footer-container {
  width: var(--max-width);
  display: grid;
  height: 20rem;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 70% 25%;
}

.footer-box {
  margin: 10px;
  padding: 1.2rem 0;
  color: #fff;
}
.footer-box input {
  width: 90%;
  height: 2.5rem;
  margin-top: 0.5rem;
}
.footer-box input[type="button"] {
  background: var(--primary-color);
  border: 0;
  color: #fff;
}
.footer-box input[type="text"] {
padding-left: 0.5rem;
  }
.footer-box h3{
    padding-bottom: 0.5rem ;
}
.footer-box:nth-child(3) p{
    border-bottom: #555 1px dotted ;
    padding: 0.5rem 0;
}
.footer-box:last-child {
  grid-column: 1 / span 4;
  background: var(--primary-grey);
  color: #fff;
  text-align: center;
  font-size:0.8rem;

}
.footer-box button{
    width: 40%;
    height: 2.5rem;
    color: #fff;
  background: var(--secondry-color);
  border: 0;
  font-size: 0.8rem;
}

.footer-box img {
  width: 180px;
}