@import "config";
@import "utility";


#specialize {
    .grid {
      display: grid;
     grid-template-columns: 1fr;

    }
    .grid-item {

    }
    .grid-item:first-child,
    .grid-item:nth-child(2) {
      grid-column-start: 0;
      grid-column-end: 1;
    }
  }

  #achivement{
      flex-direction: column;
  }


  
#home {
    &-c {
      .decs-content {
        grid-template-columns:1fr;

      }
    }
}